@import url('https://fonts.cdnfonts.com/css/avantgarde-bk-bt-2');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 162 100% 39%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
    font-family: 'AvantGarde Bk BT', sans-serif;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.input-group {
  padding: 16px 15px;
  position: relative;
}

.input-group:focus-within,
.input-group.isFilled {
  padding-top: 24px;
  padding-bottom: 10px;
}

.input-group input:focus {
  outline: none;
  padding: 0;
}

.input-group input {
  font-size: 14px;
  display: block;
  border: none;
  margin: 0;
}

.input-group input:focus ~ label,
.input-group.isFilled input ~ label {
  top: 14px;
  font-size: 10px;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0%, -50%);
  color: #667085;
  font-size: 14px;
  pointer-events: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input[type='date']::-webkit-datetime-edit,
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-clear-button {
  /* color: transparent; */
}

/* Style the date input field */
input[type='date'] {
  position: relative;
}

/* Placeholder style */
input[type='date']::before {
  content: attr(placeholder);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #999;
}

/* Hide placeholder when input is focused or valid */
input[type='date']:focus::before,
input[type='date']:valid::before {
  display: none;
}

/* Show the text in the input when it has a value */
input[type='date']:valid::-webkit-datetime-edit,
input[type='date']:valid::-webkit-inner-spin-button,
input[type='date']:valid::-webkit-clear-button {
  color: initial;
}

.auth-layout {
  grid-template-columns: 483px auto;
}

.react-tel-input {
  width: 100%;
}

.react-tel-input .form-control {
  height: 100% !important;
  min-height: 55px;
  width: 100%;
  border-radius: 10px !important;
  border-color: #667085 !important;
}

.react-tel-input .flag-dropdown {
  border-radius: 10px 0 0 10px;
  border-color: #667085 !important;
}

.tab-indicator[data-state='active']::before {
  content: '';
  width: 100%;
  display: block;
  bottom: -4px;
  position: absolute;
  margin: 0 5%;
  height: 3px;
  background-color: #1282a2;
  transition: width 1s ease-in-out;
  border-radius: 10px;
}

.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;

  background-color: #298eaa;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.box-sh {
  box-shadow:
    0px -4px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px #10182814;
}
